<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (title) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="title = 'CLICK'" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      MENU
    </button>
  </div>

  <div class="body-main">
    <div *ngFor="let item of cards" class="card">
      <div class="image">
        <img class="imgcard" src="{{item.images.sm}}">
      </div>
      <div class="legend">
        <label>{{item.name}}</label>
        <div class="descricao">
          CADU GENERO NEUTRO
        </div>
      </div>
    </div>
  </div>

</mat-drawer-container>
